<h1>Editing workshop</h1>

<%= render "form", workshop: @workshop %>

<br>

<div>
  <%= link_to "Show this workshop", @workshop, class: "btn btn-link" %> |
  <%= link_to "Back to workshops", workshops_path, class: "btn btn-link" %>
</div>
