<div id="workshops" class ="row center">
  <% @workshops.each do |workshop| %>
    <%= render workshop %>
    <p>
      <%= link_to "Show this workshop", workshop %>
    </p>
  <% end %>
</div>

<%= link_to "New workshop", new_workshop_path, class: "btn btn-link"  %>