<div id="workshops" class ="row center">
  <% @workshops.each do |workshop| %>
    <div class="col">
      <%= render workshop %>
      <p>
        <%= link_to "Show this workshop", workshop %>
      </p>
    </div>
  <% end %>
</div>