<div class="container-fluid p-5 bg-secondary bg-gradient mt-5 mb-5"><h1>Rank Up gives you the opportunity to learn and improve on your gaming. </h1>
<p class="fs-3">Whether it's FPS or MOBA, beginner or expert level, we've got a multitude of gaming workshops created by experienced and passionate instructors to suit your needs. </p>
<p class="fs-3">Come check out the amazing workshops, or even become an instructor yourself.</p>
</div>

<div id="workshops" class ="row">
  <% @workshops.each do |workshop| %>
    <div class="col-md-4">
      <%= render workshop %>
    </div>
  <% end %>
</div>