<div class="container-fluid p-5 bg-secondary bg-gradient"><h1>Rank Up provides coaching services from the best gamers across the glovbe.</h1>
<h2>Join now to Rank Up!</h2></div>

<%= link_to "Click here to see all the amazing workshops", workshops_path %>
