h1 {
  color: rgb(0, 0, 0);
}

.clean-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.btn-link {
  border-style: none;
  background: none;
}

.txt-align {
  text-align: center;
  height: min-content;
}

body {
  background-color: rgb(207, 207, 207) !important;
}