<h1>Editing timeslot</h1>

<%= render "form", timeslot: @timeslot %>

<br>

<div>
  <%= link_to "Show this timeslot", @timeslot %> |
  <%= link_to "Back to timeslots", workshop_timeslots_path(@timeslot.workshop_id) %>
</div>
